.navigation-bar {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 5px solid #96e6b3;
}

.logo {
  font-weight: 900;
  font-size: 40px;
  padding: 20px;
  margin: 0px;
}

.green {
  background: -webkit-linear-gradient(#c7f7d8, rgb(28, 124, 84));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

label {
  display: none;
}

.search-bar {
  padding: 20px;
  display: flex;
}

.text-box {
  background-color: #454545;
  color: #fff;
  border-radius: 5px 0px 0px 5px;
  border: 2px solid #96e6b3;
  height: 20px;
  padding-left: 5px;
}

.search-button {
  background-color: #96e6b3;
  border-radius: 0px 5px 5px 0px;
  border: 2px solid #96e6b3;
  height: 26px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon {
  height: 12px;
  filter: invert(1);
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .navigation-bar {
    justify-content: center;
  }
  .search-bar {
    padding-top: 0px;
  }
}
