.App {
  text-align: center;
}

body {
  background-color: rgb(69, 69, 69);
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: rgb(0, 0, 0);
  border: 0px solid black;
  border-radius: 5px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 31, 31, 0.9);
}

.exit-modal {
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: #0008;
  border-radius: 5px;
  border: 0px solid black;
  cursor: pointer;
  opacity: 50%;
  color: #fff;
  font-size: 30px;
  transition: 0.2s;
}

.exit-modal:hover {
  transform: scale(1.1);
  filter: brightness(1.25);
}

.loader-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
