.movie-modal-preview-card {
  padding: 0px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}

.movie-modal-card-image-container {
  display: flex;
  justify-content: center;
}

.movie-modal-card-image {
  width: 70%;
  /* max-height: 200px; */
  /* object-fit: cover; */
  background-color: #fff;
  padding: 0px;
  margin: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.movie-modal-title {
  font-size: 30px;
  margin: 0px;
  padding-bottom: 0px;
}

.movie-modal-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-side,
.right-side {
  padding: 20px;
}

h2[movie-modal-information] {
  margin: 0px;
  padding: 20px;
}

/* h1 {
  color: limegreen;
} */
