.movie-preview-card {
  width: 300px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 13px 27px -5px,
    rgba(0, 0, 0, 1) 0px 8px 16px -8px;
  cursor: pointer;
  transition: 0.2s;
}

.movie-preview-card:hover {
  transform: scale(1.02);
  filter: brightness(1.05);
  box-shadow: rgb(0, 0, 0) 0px 20px 35px -5px,
    rgba(0, 0, 0, 1) 0px 15px 20px -8px;
}

.movie-preview-card-info {
  background-image: linear-gradient(
    to bottom,
    rgb(89, 89, 89),
    rgb(50, 50, 50)
  );
  color: #fff;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  margin: 0px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.movie-card-image {
  border-radius: 5px 5px 0px 0px;
  width: 300px;
  max-height: 450px;
  margin: 0px 0px -5px 0px;
}

.bottom-info {
  display: flex;
  justify-content: space-around;
  background-color: linear-gradient(rgb(236, 115, 115), rgb(211, 42, 42));
}

.movie-modal-title {
  padding: 20px;
}

.tomatillo-ratings {
  height: 15px;
}

.rating-text,
.release-date-value,
.release-date-year {
  font-size: 18px;
  margin: 0px;
}

.release-date-year {
  font-weight: 300;
}
